@font-face {
    font-family: UTM-Raven;
    src: url('../fonts/00158-UTM-Raven.ttf');
}

body {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.pt-150 {
    padding-top: 150px;
}

.logo {
    margin-left: 160px;
    margin-top: 100px;
}

.logo-img {
    max-width: 200px;
    height: auto;
}

.logo-img-2 {
    max-width: 680px;
    height: auto;
    margin-top: -100px;
    margin-left: -50px;
}

.logo-video {
    max-width: 450px;
    height: auto;
}

.character_header {
    z-index: -2;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
}

.page-section {
    margin-bottom: 10px;
}

.no_pad_rl {
    padding-left: 0;
    padding-right: 0;
}

.logo2 {
    position: absolute;
    top: -110px;
    left: 80px;
}

.download_bg {
    height: 462px;
    background-image: url(../images/download_bg.png);
    background-repeat: no-repeat;
    width: 319px;
}

.download_menu {
    padding-top: 130px;
}

.download_item {
    margin-bottom: 50px;
    margin-left: 20px;
}

.icon_app {
    height: 55px;
}

.download_app {
    margin-left: 30px;
}

.info_game {
    margin-top: -100px;
}

.info_game_fanpage {
    margin-left: 35px;
    width: 100%;
    height: auto;
}

.img_game_bg {
    margin-top: 20px;
    margin-left: 50px;
    border: 8px solid #3a1001;
    background: #3a1001;
}

.top_bg {
    padding: 0;
    position: absolute;
    top: 10px;
    z-index: -1;
}

.img_top_bg {
    width: 100%;
}

.img_game {
    height: 444px;
    background-image: url(../images/img_game_bg.png);
    background-repeat: no-repeat;
    width: 444px;
}

.icon_help {
    position: absolute;
    left: 40px;
    top: 40px;
    width: 90px;
}

#character {
    margin-top: 80px;
}

#news {
    margin-top: 80px;
}

#gallery {
    margin-top: 80px;
}

.character_info {
    margin-top: 50px;
}

.character_info > .col-7 {
    margin-left: -70px;
}

.character_icon {
    width: 109px;
    height: 108px;
    background-size: contain;
    background-repeat: no-repeat;
}

.character_info_bg {
    background-image: url(../images/character_info_bg.png);
    background-repeat: no-repeat;
    width: 389px;
    height: 564px;
}

.nav-pills .nav-link.active {
    background-color: #ffffff00;
}

#tieungunhi_img {
    background-image: url(../images/tieungunhi_icon.png);
}

#tieungunhi_img.active {
    background-image: url(../images/tieungunhi_icon_active.png);
}

#tieulyphidao_img {
    background-image: url(../images/tieulyphidao_icon.png);
}

#tieulyphidao_img.active {
    background-image: url(../images/tieulyphidao_icon_active.png);
}

#tieulongnu_img {
    background-image: url(../images/tieulongnu_icon.png);
}

#tieulongnu_img.active {
    background-image: url(../images/tieulongnu_icon_active.png);
}

#giacvien_img {
    background-image: url(../images/giacvien_icon.png);
}

#giacvien_img.active {
    background-image: url(../images/giacvien_icon_active.png);
}

.character_img {
    width: 466px;
    height: auto;
}

.nav-pills .nav-link {
    margin-bottom: 30px;
}

.text_character_name {
    color: #ffffff;
    font-family: "UTM-Raven";
    font-size: 67px;
    text-align: center;
}

.text_border_bottom::before {
    width   : 80%;
    content : "";
    position: absolute;
    left    : 10%;
    bottom  : 0;
    height  : 1px;
    border-bottom: 1px solid transparent;
    border-image: url(../images/border_text.png) 30 round;
}

.character_description {
    height: 350px;
    color: #ffffff;
    padding: 20px 0 0 30px;
}

.character_skill {
    color: #ffffff;
    padding: 20px 0 0 30px;
}

.character_skill > div {
    margin-bottom: 5px;
}

.skill_title {
    font-weight: 600;
    font-style: italic;
}

.news_bg {
    margin-top: 50px;
    background-image: url(../images/news_bg.png);
    background-repeat: no-repeat;
    width: 1236px;
    height: 805px;
}

.news_img {
    margin: 100px 0 0 65px;
    width: 100%;
    height: 630px;
    background: #ffffff;
}

.news_area {
    margin: 100px 0 0 10px;
    width: 470px;
    height: 630px;
    background: #ffffff;
}

.news_list {
    padding: 20px;
    overflow-y: scroll;
    height: inherit;
}

.news_item > a {
    color: #171717;
    word-wrap: break-word;
}

.gallery_bg {
    margin-top: 50px;
    background-image: url(../images/gallery_bg.png);
    background-repeat: no-repeat;
    width: 1263px;
    height: 654px;
}

.gallery_area {
    margin-right: 50px;
    margin-top: 110px;
    height: 465px;
}

.carousel-item {
    text-align: center;
}

.carousel-item > img {
    height: 465px;
}

.carousel-control-next {
    right: -65px;
}

.carousel-control-prev {
    left: -50px;
}

/* TEST */
.lightSweep {

}